/* font rules */
@font-face {
    font-family: 'Inconsolata';
    src: url('/Users/drewjordan/Documents/bootcamp/homework/portfolio/assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf') format('ttf'),
         url('/Users/drewjordan/Documents/bootcamp/homework/portfolio/assets/fonts/Inconsolata/static') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* :root{

} */
body{
    background-color: rgb(37, 37, 37);
}

/* Header and Navbar */
header {
    background-color: #333;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: right;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-family: 'Inconsolata', Arial, sans-serif;
    font-size: 30px;
    transition: color 0.3s;
    padding: 20px;
}


.nav-link:hover {
    color: #7534ee;
}

.container{
    display:flex;
    /* flex-direction:row; */
    align-items: center;
}

.main-content{
    display:flex;
    align-items: flex-start;
}

/* Profile Picture */
.profile-picture{
    display: flex;
    /* try center if left doesnt work */
    justify-content: left; 
    align-items: left;
    width: 400px;
    height: auto;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0 0 0 10px #333;
}

.profile-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* about */
.whoami{
    display:flex;
    flex-direction:column;
    margin-left: 20px;
}

.whoami h1{
    color: #fff;
    font-family: 'Inconsolata', Arial, sans-serif;
    font-size: 30px;
    margin-top: 150px;
    margin-bottom: 10px;
}
.whoami h2{
    color: #fff;
    font-family: 'Inconsolata', Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
}

.whoami p{
    color: #fff;
    font-family: 'Inconsolata', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
}